
@import '../main/all';

*{
  box-sizing: border-box;
}

.header-container{
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 30px 40px;

  width: 1280px;
  min-height: 120px;

  background: $color-light-xl ;

  .header-logo__tittle{
    margin:0;
    margin-top:1px;

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 110%;
    letter-spacing: 0.06em;

    color: $color-dark-l ;
  }

  .header-logo__sub-tittle{
    margin:9px 0 0 4px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;

    letter-spacing: 0.1em;

    color: $color-dark-3xl;
  }

  .header-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    list-style: none;

    width: 443px;
    height: 27px;

    padding: 0 0 3px 0;

    .header-menu__item{
      text-decoration: none;

      font-family: Arial;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 160%;
      color: $color-dark-l;

      padding-bottom: 5px;
    }

    .header-menu__item_selected{
      color: $color-dark-3xl;
      border-bottom: 3px solid $color-primary ;
    }

    .header-menu__item:hover{
      //color: #FAFAFA; НЕ ПОНЯТНО КАКОЙ ЦВЕТ СДЕЛАТЬ

      cursor: pointer;
    }
  }
}

.pets{
  margin: 0 auto;
  padding: 0 40px;

  width: 1280px;
  min-height: 1342px;

  background: $color-light-l;
}

.footer{
  margin: 0 auto;

  width: 1280px;
  min-height: 350px;

  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}