@charset "UTF-8";
.pets .pets__header, .footer-contacts-container .footer-contacts-header, .footer-location-container .footer-location-header {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.pets .pets-slider-container .pets-slider__inactive, .pets .pets-slider-container .pets-slider__active, .footer-contacts-container .footer-contacts-email, .footer-contacts-container .footer-contacts-phone, .footer-location-container .footer-location-boston, .footer-location-container .footer-location-london {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0 auto;
  padding: 30px 40px;
  max-width: 1280px;
  min-height: 120px;
  background: #FFFFFF;
}

@media (max-width: 1250px) {
  .header-container {
    padding: 30px 30px;
  }
}

@media (max-width: 760px) {
  .header-container {
    padding: 30px 10px;
  }
}

.header-logo__tittle {
  margin: 0;
  margin-top: 1px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.header-logo__sub-tittle {
  margin: 9px 0 0 4px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

.burger-menu-btn {
  display: none;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  z-index: 10;
}

@media (max-width: 760px) {
  .burger-menu-btn {
    display: block;
    margin-top: 19px;
    margin-right: 40px;
    width: 30px;
    height: 22px;
  }
}

.header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 443px;
  height: 27px;
  padding: 0 0 3px 0;
}

@media (max-width: 760px) {
  .header-menu {
    display: none;
  }
}

.header-menu__item {
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  padding-bottom: 5px;
}

.header-menu__item_selected {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
}

.header-menu__item:hover {
  color: #292929;
  cursor: pointer;
}

/* Стили бургер меню */
.burger-menu-bg {
  display: none;
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100vw;
  height: 823px;
  background: rgba(41, 41, 41, 0.6);
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.burger-menu-bg__show {
  display: block;
  opacity: 1;
}

.burger-menu-container {
  position: absolute;
  right: -320px;
  padding: 30px 10px 0;
  width: 320px;
  height: 100%;
  background: #292929;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

.burger-menu-header {
  height: 60px;
}

.burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 138px auto 0;
  padding: 0;
  width: 243px;
  list-style: none;
}

.burger-menu__item {
  display: block;
  text-decoration: none;
  margin: 20px 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 160%;
}

.burger-menu__item_selected {
  border-bottom: 3px solid #F1CDB3;
}

.burger-menu__item:hover {
  cursor: pointer;
}

.burger-menu-container_show {
  right: 0;
}

.burger-menu-btn_open {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.burger-logo__tittle {
  margin: 0;
  margin-top: 1px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.burger-logo__sub-tittle {
  margin: 9px 0 0 4px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.pets {
  margin: 0 auto;
  padding: 80px 40px 0px;
  max-width: 1280px;
  min-height: 1342px;
  background: #CDCDCD;
}

@media (max-width: 1250px) {
  .pets {
    padding: 80px 30px 76px;
  }
}

@media (max-width: 760px) {
  .pets {
    padding: 42px 10px 42px;
  }
}

.pets .pets__header {
  margin: 0px;
  margin-top: 1px;
  margin-left: 2px;
}

@media (max-width: 760px) {
  .pets .pets__header {
    font-size: 25px;
  }
}

.pets .pets-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  padding-top: 4px;
}

@media (max-width: 1250px) {
  .pets .pets-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 29px;
    padding-top: 0;
  }
}

@media (max-width: 760px) {
  .pets .pets-container {
    margin-top: 42px;
  }
}

.pets .pets__card {
  width: 270px;
  height: 435px;
  margin: 15px 0;
  background-color: #FAFAFA;
  border-radius: 9px;
}

.pets .pets__card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #FFFFFF;
}

@media (max-width: 1250px) {
  .pets .pets__card {
    margin-top: 0;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
  }
}

@media (max-width: 950px) {
  .pets .pets__card {
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
  }
}

@media (max-width: 760px) {
  .pets .pets__card {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: 550px) {
  .pets .pets__card {
    margin-left: 0;
    margin-right: 0;
  }
}

.pets .pets__card-photo {
  border-radius: 9px 9px 0px 0px;
}

.pets .pets__card-caption {
  margin: 26px 0 30px;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets .pets__card-btn {
  margin: 0 41.5px;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #4C4C4C;
  background: #FAFAFA;
}

.pets .pets__card-btn:hover {
  background: #FDDCC4;
  border: none;
}

@media (max-width: 1250px) {
  .pets .pets__card--scarlett, .pets .pets__card--freddie {
    display: none;
  }
}

@media (max-width: 760px) {
  .pets .pets__card--jennifer, .pets .pets__card--sophia, .pets .pets__card--charly {
    display: none;
  }
}

.pets .pets-slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 45px auto;
  width: 340px;
  height: 52px;
}

@media (max-width: 1250px) {
  .pets .pets-slider-container {
    margin-top: 10px;
    margin-bottom: 0;
  }
}

@media (max-width: 760px) {
  .pets .pets-slider-container {
    width: 300px;
  }
}

.pets .pets-slider-container .pets-slider__item {
  padding: 0px;
  padding-bottom: 2px;
  width: 52px;
  height: 52px;
  border-radius: 100px;
}

.pets .pets-slider-container .pets-slider__inactive {
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
}

.pets .pets-slider-container .pets-slider__active {
  color: #292929;
  border: 2px solid #F1CDB3;
}

.pets .pets-slider-container .pets-slider__active:hover {
  background: #FDDCC4;
  border: none;
}

.pets .pets-slider-container .pets-slider__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  border: none;
  background: #F1CDB3;
}

.pets .pets-slider-container .pets-slider__page:hover {
  background: #FDDCC4;
}

/* --------------------------------
Стили футера экрана
----------------------------------*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1280px;
  min-height: 350px;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

@media (max-width: 1250px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 30px;
  }
}

@media (max-width: 760px) {
  .footer {
    padding: 0 10px;
  }
}

/* --------------------------------
Стили футера экрана
----------------------------------*/
.footer-contacts-container {
  margin-top: 56px;
  margin-right: 30px;
  width: 280px;
}

@media (max-width: 1250px) {
  .footer-contacts-container {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 760px) {
  .footer-contacts-container {
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: 550px) {
  .footer-contacts-container {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-contacts-container .footer-contacts-header {
  padding: 0;
  margin: 0;
  margin-top: 1px;
  margin-left: 1px;
  text-align: left;
  color: #FFFFFF;
}

@media (max-width: 760px) {
  .footer-contacts-container .footer-contacts-header {
    text-align: center;
  }
}

.footer-contacts-container .footer-contacts-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F1CDB3;
  height: 32px;
  margin-top: 39px;
  margin-left: 1px;
  text-decoration: none;
}

.footer-contacts-container .footer-contacts-email .footer-contacts-email-icon {
  margin-right: 20px;
}

.footer-contacts-container .footer-contacts-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F1CDB3;
  height: 32px;
  margin-top: 40px;
  margin-left: 1px;
  text-decoration: none;
}

.footer-contacts-container .footer-contacts-phone .footer-contacts-phone-icon {
  margin-right: 20px;
}

.footer-location-container {
  margin-top: 56px;
  margin-right: 30px;
  width: 302px;
}

@media (max-width: 1250px) {
  .footer-location-container {
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 760px) {
  .footer-location-container {
    margin-top: 40px;
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-location-container .footer-location-header {
  padding: 0;
  margin: 0;
  margin-top: 1px;
  margin-left: 1px;
  text-align: left;
  color: #FFFFFF;
}

@media (max-width: 760px) {
  .footer-location-container .footer-location-header {
    text-align: center;
  }
}

.footer-location-container .footer-location-boston {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F1CDB3;
  height: 32px;
  margin-top: 39px;
  text-decoration: none;
}

.footer-location-container .footer-location-boston .footer-location-boston-icon {
  margin-right: 20px;
}

.footer-location-container .footer-location-london {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #F1CDB3;
  height: 32px;
  margin-top: 40px;
  text-decoration: none;
}

.footer-location-container .footer-location-london .footer-location-london-icon {
  margin-right: 20px;
}

.footer-puppy {
  margin-top: 40px;
  width: 300px;
  height: 310px;
}

@media (max-width: 1250px) {
  .footer-puppy {
    margin-top: 65px;
  }
}

@media (max-width: 760px) {
  .footer-puppy {
    margin-top: 92px;
    margin-left: 80px;
    margin-right: 80px;
  }
}

@media (max-width: 550px) {
  .footer-puppy {
    margin-top: 92px;
    width: 260px;
    height: 269px;
  }
}
/*# sourceMappingURL=pets.css.map */