
@import '../main/all';

*{
  box-sizing: border-box;
}

.header-container{
  display: flex;
  justify-content: space-between;

  position: sticky;
  top:0;

  margin: 0 auto;
  padding: 30px 40px;

  max-width: 1280px;
  min-height: 120px;

  background: $color-light-xl ;

  @media (max-width:$breakpoint-m) {
    padding: 30px 30px;
  }

  @media (max-width:$breakpoint-s) {
    padding: 30px 10px;
  }
}

.header-container-relative{
  position: relative;
}


@import '../main/header';

.burger-menu__item{
  color: $color-dark-s;
}

.burger-menu__item_selected{
  color: $color-light-s;
}

.burger-menu__item:hover{
  color: $color-light-s;
}

.burger-logo__tittle{
  color: $color-primary;
}
.burger-logo__sub-tittle{
  color: $color-light-xl;
}

.pets{
  margin: 0 auto;
  padding: 80px 40px 0px;

  max-width: 1280px;
  min-height: 1342px;

  background: $color-light-l;
  background: #F6F6F6;

  @media (max-width:$breakpoint-m) {
    padding: 80px 30px 76px;
  }

  @media (max-width:$breakpoint-s) {
    padding: 42px 10px 42px;
  }

  .pets__header{
    margin: 0px;
    margin-top: 1px;
    margin-left: 2px;

    @extend %local-h3;

    @media (max-width:$breakpoint-s) {
      font-size: 25px;
    }
  }

  .pets-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 40px;
    padding-top: 4px;

    @media (max-width:$breakpoint-m) {
      justify-content: center;

      margin-top: 29px;
      padding-top: 0;
    }

    @media (max-width:$breakpoint-s) {
      margin-top: 42px;
    }
  }


  .pets__card{
    width: 270px;
    height: 435px;

    margin: 15px 0;

    background-color: $color-light-s;
    border-radius: 9px;

    &:hover{
      box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
      background: $color-light-xl;
    }

    @media (max-width:$breakpoint-m) {
      margin-top: 0;
      margin-left: 80px;
      margin-right: 80px;
      margin-bottom: 30px;
    }
    @media (max-width:$breakpoint-ms) {
      margin-top: 0;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 30px;
    }

    @media (max-width:$breakpoint-s) {
      margin-left: 80px;
      margin-right:80px;
    }

    @media (max-width:$breakpoint-ss) {
      margin-left: 0;
      margin-right:0;
    }
  }

  .pets__card-photo{
      border-radius: 9px 9px 0px 0px;
    }

  .pets__card-caption{
    margin: 26px 0 30px;
    text-align: center;

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    letter-spacing: 0.06em;
    color:$color-dark-l;

  }

  .pets__card-btn{
    margin:0 41.5px;
    width: 187px;
    height: 52px;

    border: 2px solid $color-primary;
    border-radius: 100px;


    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;

    color:  $color-dark-xl;

    background: #FAFAFA;

    &:hover{
      background:$color-primary-light;
      border: none;
    }
  }

  @media (max-width:$breakpoint-m) {
    .pets__card--scarlett, .pets__card--freddie {
      display: none;
    }
  }

  @media (max-width:$breakpoint-s) {
    .pets__card--jennifer, .pets__card--sophia, .pets__card--charly {
      display: none;
    }
  }


  .pets-slider-container{
    display: flex;
    justify-content: space-between;

    margin: 45px auto;
    width: 340px;
    height: 52px;

    @media (max-width:$breakpoint-m) {
      margin-top: 10px;
      margin-bottom: 0;
    }

    @media (max-width:$breakpoint-s) {
      width: 300px;
    }

    .pets-slider__item{
      padding:0px;
      padding-bottom: 2px;

      width: 52px;
      height: 52px;
      border-radius: 100px;

    }

    .pets-slider__inactive{
      @extend %local-h4;
      color: $color-dark-s;

      border: 2px solid $color-dark-s;
    }

    .pets-slider__active{
      @extend %local-h4;
      color: $color-dark-3xl;

      border: 2px solid $color-primary;

      &:hover{
        background: $color-primary-light;
        border: none;
      }
    }

    .pets-slider__page{
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 0;

      border: none;

      background: $color-primary;
      &:hover{
        background: $color-primary-light ;
      }
    }
  }

}


/* --------------------------------
Стили футера экрана
----------------------------------*/
.footer{
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding:0 40px;

  max-width: 1280px;
  min-height: 350px;

  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

  @media (max-width:$breakpoint-m) {
    flex-wrap: wrap;;
    justify-content: center;

    padding:0 30px;
  }

  @media (max-width:$breakpoint-s) {
    padding:0 10px;
  }

}
@import '../main/footer';
