.pets .pets__header {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.pets .pets-slider-container .pets-slider__inactive, .pets .pets-slider-container .pets-slider__active {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 30px 40px;
  width: 1280px;
  min-height: 120px;
  background: #FFFFFF;
}

.header-container .header-logo__tittle {
  margin: 0;
  margin-top: 1px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

.header-container .header-logo__sub-tittle {
  margin: 9px 0 0 4px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #292929;
}

.header-container .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 443px;
  height: 27px;
  padding: 0 0 3px 0;
}

.header-container .header-menu .header-menu__item {
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  padding-bottom: 5px;
}

.header-container .header-menu .header-menu__item_selected {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
}

.header-container .header-menu .header-menu__item:hover {
  color: #292929;
  cursor: pointer;
}

.pets {
  margin: 0 auto;
  padding: 80px 40px 0px;
  max-width: 1280px;
  min-height: 1342px;
  background: #F6F6F6;
}

.pets .pets__header {
  margin: 0px;
  margin-top: 1px;
  margin-left: 2px;
}

.pets .pets-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
  padding-top: 4px;
}

.pets .pets__card {
  width: 270px;
  height: 435px;
  margin: 15px 0;
  background-color: #FAFAFA;
  border-radius: 9px;
}

.pets .pets__card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: #FFFFFF;
}

.pets .pets__card-photo {
  border-radius: 9px 9px 0px 0px;
}

.pets .pets__card-caption {
  margin: 26px 0 30px;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets .pets__card-btn {
  margin: 0 41.5px;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #4C4C4C;
  background: #FAFAFA;
}

.pets .pets__card-btn:hover {
  background: #FDDCC4;
  border: none;
}

.pets .pets-slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 45px auto;
  width: 340px;
  height: 52px;
}

.pets .pets-slider-container .pets-slider__item {
  padding: 0px;
  padding-bottom: 2px;
  width: 52px;
  height: 52px;
  border-radius: 100px;
}

.pets .pets-slider-container .pets-slider__inactive {
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
}

.pets .pets-slider-container .pets-slider__active {
  color: #292929;
  border: 2px solid #F1CDB3;
}

.pets .pets-slider-container .pets-slider__active:hover {
  background: #FDDCC4;
  border: none;
}

.pets .pets-slider-container .pets-slider__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: #F1CDB3;
}

.pets .pets-slider-container .pets-slider__page:hover {
  background: #FDDCC4;
}

.footer {
  margin: 0 auto;
  width: 1280px;
  min-height: 350px;
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
/*# sourceMappingURL=pets.css.map */