/* --------------------------------
Стили первого экрана
----------------------------------*/
.start-screen{
  height: 925px;
  background-image: url('assets/images/start-screen-background.jpg');
}


/* --------------------------------
Стили второго экрана
----------------------------------*/
.about{
  height: 588px;
  background-color: white
}

/* --------------------------------
Стили третьего экрана
----------------------------------*/
.pets{
  height: 862px;
  background: #F6F6F6;
}

/* --------------------------------
Стили четвертого экрана
----------------------------------*/
.help{
  height: 611px;

  background-color: white;
}

/* --------------------------------
Стили пятого экрана
----------------------------------*/
.donation{
  height: 462px;

  background-color: #F6F6F6;;
}


/* --------------------------------
Стили футера экрана
----------------------------------*/
.footer{
  height: 462px;
  background-image: url('assets/images/footer-background.jpg');
}