@charset "UTF-8";
/* --------------------------------
Стили первого экрана
----------------------------------*/
.start-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 925px;
  background-image: url("assets/images/start-screen-background.jpg");
}

.start-screen .start-screen-container-middle {
  width: 1200px;
  height: 100%;
}

.start-screen .start-screen-container-middle .start-screen-container-adjusted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-left: 8px;
}

.start-screen .start-screen-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 61px;
  margin-top: 60px;
}

.start-screen .start-screen-header .start-screen-logo__tittle {
  margin: 0;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.start-screen .start-screen-header .start-screen-logo__sub-tittle {
  margin: 10px 0 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.start-screen .start-screen-header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 460px;
  height: 27px;
}

.start-screen .start-screen-header .header-menu .header-menu__item {
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  padding-bottom: 5px;
}

.start-screen .start-screen-header .header-menu .header-menu__item_selected {
  border-bottom: 3px solid  #F1CDB3;
}

.start-screen .start-screen-header .header-menu .header-menu__item:hover {
  color: white;
  border-bottom: 3px solid  #F1CDB3;
}

.start-screen .start-screen-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.start-screen .start-screen-content-container .start-screen-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 460px;
  height: 308px;
  margin-bottom: 92px;
}

.start-screen .start-screen-content-container .start-screen-content .start-screen-content__heading {
  margin: 0;
  width: 310px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.start-screen .start-screen-content-container .start-screen-content .start-screen-content__sub-heading {
  width: 460px;
  margin: 29px 0 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}

.start-screen .start-screen-content-container .start-screen-content .start-screen-content__btn {
  margin-top: 40px;
  width: 200px;
  height: 52px;
  border: none;
  background: #F1CDB3;
  border-radius: 26px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #292929;
}

.start-screen .start-screen-content-container .start-screen-content__img {
  width: 698px;
  height: 728px;
  background-image: url("/assets/images/start-screen-puppy.png");
}

/* --------------------------------
Стили второго экрана
----------------------------------*/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 588px;
  background-color: white;
}

.about-container-middle, .pets-container-middle, .help-container-middle, .donation-container-middle, .footer-container-middle {
  width: 1200px;
  height: 100%;
}

.about-container-adjusted, .pets-container-adjusted, .help-container-adjusted, .donation-container-adjusted, .footer-container-adjusted {
  width: 100%;
  height: 100%;
  margin-left: 7px;
  border: 1px grey dashed;
}

/* --------------------------------
Стили третьего экрана
----------------------------------*/
.pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 862px;
  background: #F6F6F6;
}

/* --------------------------------
Стили четвертого экрана
----------------------------------*/
.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 611px;
  background-color: white;
}

/* --------------------------------
Стили пятого экрана
----------------------------------*/
.donation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 462px;
  background-color: #F6F6F6;
}

/* --------------------------------
Стили футера экрана
----------------------------------*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 462px;
  background-image: url("assets/images/footer-background.jpg");
}
/*# sourceMappingURL=style.css.map */