
.header{
  margin:0 auto;
  padding: 10px;

  text-align: center;
  width: 320px;
  background: $color-light-l;
}

.config-container{
  margin:0 auto;

  padding: 5px;
  width: 320px;

  min-height: 300px;
}

.config__area-size-container{
  padding: 5px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.config__area-size{
  height: 30px;
  width: 150px;
}

.config_sounds-container{
  padding: 5px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}



.config__sounds_chkbox{
  height: 20px;
  width: 20px;
}

.config-fieldset{
  margin-top: 5px;
  margin-bottom: 5px;

  border-radius: 7px;
}