
.config-container{
  margin:0 auto;

  padding: 10px;
  width: 320px;

  @media (min-width:700px) {
    margin:0 0 0 10px;
  }
}

.config__area-size-container{
  padding: 5px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.config__area-size{
  height: 30px;
  width: 150px;
}

.config_sounds-container{
  padding: 5px 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}


.config__sounds_chkbox{
  height: 20px;
  width: 20px;
}
