
.game-container{
  margin:0 auto;
  padding: 5px;
  width: 320px;
  min-height: 400px;
  background: $color-light-l;
}

.game-area{
  display: grid;
  //grid-template-columns: 35px 35px 35px 35px 35px 35px 35px 35px;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-gap: 2px 2px;
  align-content: start;

  margin: 10px auto 50px;

  border: 1px solid $color-dark-m;
  border-radius: 5px;
}

.domino{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35px;
  height: 35px;
  background-color: rgb(211, 211, 211);

  border-radius: 5px;

  cursor: pointer;
  &:hover{
    background-color: rgb(235, 235, 235);
  }
}

.domino-empty{
  width: 35px;
  height: 35px;
  background-color: $color-light-l;
  color:$color-light-l;

  border-radius: 5px;
}