
@import 'variables';

* {
  box-sizing: border-box;
}

.fieldset{
  margin-top: 5px;
  margin-bottom: 5px;

  border-radius: 7px;
  text-align: center;
}

@import 'header';
@import 'bestResult';
@import 'config';
@import 'controls';
@import 'gameArea';
