$color-light-s: #FAFAFA;
$color-light-l: #F6F6F6;
$color-light-xl: #FFFFFF;

$color-primary: #F1CDB3 ;
$color-primary-light: #FDDCC4;

$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;

$breakpoint-m:800px;
$breakpoint-s:400px;

%local-h3{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;

  letter-spacing: 0.06em;

  color: #545454;

  text-align: center;
}

%local-h4{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;

  letter-spacing: 0.06em;

  color: $color-dark-l;
}

%local-h5{
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;

  letter-spacing: 0.06em;

  color:$color-dark-l;
}

%subheading{
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;

  color: $color-dark-xl;
}


