/* --------------------------------
Стили футера экрана
----------------------------------*/

.footer-contacts-container {
  margin-top: 56px;

  width: 280px;

  .footer-contacts-header {
    padding: 0;
    margin: 0;
    margin-top: 1px;
    margin-left: 1px;

    @extend %local-h3;
    text-align: left;

    color: $color-light-xl;
  }

  .footer-contacts-email {
    display: flex;
    align-items: center;
    @extend %local-h4;
    color: $color-primary;

    height: 32px;
    margin-top: 39px;
    margin-left: 1px;

    text-decoration: none;

    .footer-contacts-email-icon {
      margin-right: 20px;
    }
  }

  .footer-contacts-phone {
    display: flex;
    align-items: center;
    @extend %local-h4;
    color: $color-primary;

    height: 32px;
    margin-top: 40px;
    margin-left: 1px;

    text-decoration: none;

    .footer-contacts-phone-icon {
      margin-right: 20px;
    }
  }
}

.footer-location-container {
  margin-top: 56px;
  //margin-left: 159px;

  width: 302px;

  .footer-location-header {
    padding: 0;
    margin: 0;
    margin-top: 1px;
    margin-left: 1px;

    @extend %local-h3;
    text-align: left;

    color: $color-light-xl;
  }

  .footer-location-boston {
    display: flex;
    align-items: center;
    @extend %local-h4;
    color: $color-primary;

    height: 32px;
    margin-top: 39px;
    //margin-left: 1px;

    text-decoration: none;

    .footer-location-boston-icon {
      margin-right: 20px;
    }
  }

  .footer-location-london {
    display: flex;
    align-items: center;
    @extend %local-h4;
    color: $color-primary;

    height: 32px;
    margin-top: 40px;
    //margin-left: 1px;

    text-decoration: none;

    .footer-location-london-icon {
      margin-right: 20px;
    }
  }
}

.footer-puppy {
  margin-top: 40px;
  //margin-left: 159px;

  width: 300px;
  height: 310px;
}
