
.header-logo__tittle{
  margin:0;
  margin-top:1px;

  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;

  color: $color-dark-l ;
}

.header-logo__sub-tittle{
  margin:9px 0 0 4px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;

  letter-spacing: 0.1em;

  color: $color-dark-3xl;
}


.header-logo__tittle:hover{
  cursor: pointer;
}

.header-logo__sub-tittle:hover{
  cursor: pointer;
}



.burger-menu-btn{
  display: none;

  transition-property: transform;
  transition-duration: 1s;

  z-index: 10;

  @media (max-width:$breakpoint-s) {
    display: block;

    margin-top:19px;
    margin-right:40px;

    width: 30px;
    height: 22px;
  }
}


.header-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style: none;

  width: 443px;
  height: 27px;

  padding: 0 0 3px 0;

  @media (max-width:$breakpoint-s) {
    display: none;
  }
}

.header-menu__item{
  text-decoration: none;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: $color-dark-l;

  padding-bottom: 5px;
  cursor: auto;
}

.header-menu__item_selected{
  color: $color-dark-3xl;
  border-bottom: 3px solid $color-primary ;
}

.header-menu__active:hover{
  color: $color-dark-3xl;
  cursor: pointer;
}

/* Стили бургер меню */
.burger-menu-bg{

  position: absolute;
  z-index: -1;
  top: 0;

  width: 100%;
  height: 823px;

  background: rgba(41, 41, 41, 0.6);

  opacity: 0;

  transition-property: opacity, z-index;
  transition-duration: 1s;
  transition-timing-function: ease-in;

  overflow: hidden;

}

.burger-menu-bg__show{

  z-index: 5;
  opacity: 1;
}

.burger-menu-container{
  position: absolute;
  right: -320px;
  padding:30px 10px 0;

  width: 320px;
  height: 100%;
  background: $color-dark-3xl;

  transition-property: right;
  transition-duration: 1s;
  transition-timing-function: ease-in;
}

.burger-menu-container_show{
  right: 0;
}

.burger-menu-header{
  height: 60px;
}

.burger-menu{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 138px auto 0;
  padding:0;
  width: 243px;

  list-style: none;
}

.burger-menu__item{
  display: block;
  text-decoration: none;
  margin:20px 0;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 160%;

  cursor: auto;
}

.burger-menu__item-active:hover{
  cursor: pointer;
}

.burger-menu__item_selected{
  border-bottom: 3px solid $color-primary ;
}

// .burger-menu__item:hover{
//   cursor: pointer;
// }



.burger-menu-btn_open{
  transform: rotate(-90deg);
}


.burger-logo__tittle{
  margin:0;
  margin-top:1px;

  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.burger-logo__tittle:hover{
  cursor: pointer;
}

.burger-logo__sub-tittle{
  margin:9px 0 0 4px;

  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.burger-logo__sub-tittle:hover{
  cursor: pointer;
}