
@import '../main/all';

/* --------------------------------
Стили первого экрана
----------------------------------*/
* {
  box-sizing: border-box;
}

.start-screen{
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding:0 40px;
  margin:0 auto;

  max-width: 1280px;
  height: 908px;

  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  @media (max-width:$breakpoint-main-m) {
    padding:0 30px;
    height: 1165px;
  }

  @media (max-width:$breakpoint-main-s) {
    padding:0 10px;
    justify-content: flex-start;

    height: 823px;
  }


  @import '../main/header';

  .burger-menu{

    @media (max-width:$breakpoint-s) {

      margin-top:20px;
      margin-right:43px;
     }
  }

  .start-screen-header{
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 60px;

    margin-top: 60px;

    .header-logo__tittle{
      color: #F1CDB3;
    }

    .header-logo__sub-tittle{
      color: #FFFFFF;
    }

    .header-menu__item{
      color: $color-dark-s ;
      padding-bottom: 4px;
    }

    .header-menu__item_selected{
      color: $color-light-s;
      border-bottom: 3px solid  $color-primary ;
    }

    .header-menu__item:hover{
      color: $color-light-s;
    }

    @media (max-width:$breakpoint-main-m) {
      margin-top: 30px;
    }
  }


  .start-screen-content-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;

    @media (max-width:$breakpoint-main-m) {
      justify-content: center;
      margin-top:60px;

      flex-direction: column;
    }

  }

  .start-screen-content{
    align-self: center;

    width: 460px;
    height: 321px;
    margin-bottom: 80px;

    @media (max-width:$breakpoint-main-s) {

      width: 300px;
      height: 296px;
    }
  }

  .start-screen-content__heading{
    margin: 0;
    width: 310px;

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 130%;

    color: #FFFFFF;
    color: $color-light-xl;

    @media (max-width:$breakpoint-main-s) {
      width: 300px;

      font-size: 25px;
      letter-spacing: 0.06em;
      text-align: center;
    }
  }

  .start-screen-content__sub-heading{
    width: 460px;
    margin: 41px 0 0;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;

    color: #CDCDCD;
    color: $color-dark-s;

    @media (max-width:$breakpoint-main-s) {
      margin: 42px 0 0;
      width: 300px;
      text-align: center;
    }

  }

  .start-screen-content__btn{
    margin-top: 42px;

    width: 207px;
    height: 52px;

    border:none;
    background: #F1CDB3;
    border-radius: 26px;

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;

    color: #292929;

    @media (max-width:$breakpoint-main-m) {
      display: block;
      margin: 42px auto;
    }

  }

  .start-screen-content__btn:hover{
    cursor: pointer;
    background: #FDDCC4;;
  }

  .start-screen-content__img{
    width: 698px;
    height: 728px;

    background-image: url("/assets/images/start-screen-puppy.png");

    @media (max-width:$breakpoint-main-m) {
      margin-top:20px;
      width: 569px;
      height: 593px;
      background-image: url("/assets/images/start-screen-puppy-768.png");
     }

     @media (max-width:$breakpoint-main-s) {
      margin-top:25px;
      width: 260px;
      height: 272px;
      background-image: url("/assets/images/start-screen-puppy-320.png");
     }
  }

}

/* --------------------------------
Стили второго экрана
----------------------------------*/
.about{

  max-width: 1280px;
  //margin:80px auto;
  padding:80px 0;
  margin:0 auto;

  min-height: 588px;
  background-color: white;

  @media (max-width:$breakpoint-main-m) {
    //margin-bottom: 100px;
    padding-bottom: 100px;
  }

  @media (max-width:$breakpoint-main-s) {
    //margin-top: 42px;
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .about-content__container{
    display: flex;
    justify-content: center;

    min-height: 408px;

    padding:0;

    @media (max-width:$breakpoint-main-m) {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  .about-content__img{
    width: 300px;
    height: 408px;
    margin-right: 60px;

    background-image: url('/assets/images/about-pets.png');

    @media (max-width:$breakpoint-main-m) {
      margin-right: 0;
      margin-top: 80px;
    }

    @media (max-width:$breakpoint-main-s) {
      margin-top: 42px;

      width: 260px;
      height: 354px;
      background-image: url('/assets/images/about-pets-320.png');
    }
  }

  .about-content{
    align-self: center;
    margin-left: 60px;
    width: 430px;
    height: 380px;

    @media (max-width:$breakpoint-main-m) {
      margin-left: 0;
      width: 436px;
    }

    @media (max-width:$breakpoint-main-s) {
      width: 300px;
      height: 494px;
    }
  }

  .about-content__heading{
    margin: 0;
    margin-top: 1px;
    margin-bottom: -1px;

    width: 370px;

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 130%;

    letter-spacing: 0.06em;


    color: $color-dark-l;

    @media (max-width:$breakpoint-main-s) {
      font-size: 25px;
      text-align: center;

      margin-top: 0;
      margin-bottom:0;

      width: 300px;
    }
  }

  .about-content__sub-heading{
    margin: 25px 0 0 0;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 160%;

    color: #4C4C4C;

    @media (max-width:$breakpoint-main-s) {
      width: 270px;
      margin-left:auto;
      margin-right:auto;

      text-align: justify;
    }
  }

  .about-content__sub-heading-2{
    @media (max-width:$breakpoint-main-s) {
      margin-top:22px;
    }
  }

}


/* --------------------------------
Стили третьего экрана
----------------------------------*/
.pets{

  margin:0 auto;
  max-width: 1280px;
  min-height: 877px;
  background: #F6F6F6;
  padding-right: 40px;
  padding-left: 40px;

  @media (max-width:$breakpoint-main-m) {
    padding-right: 30px;
    padding-left: 30px;
  }

  @media (max-width:$breakpoint-main-s) {
    padding-right: 10px;
    padding-left: 10px;
  }

  @media (max-width:$breakpoint-main-ss) {
    min-height: 791px;
  }


  .pets-heading-container{
    margin: 0 auto;
    padding: 81px 0 0;
    width: 400px;

    @media (max-width:$breakpoint-main-ss) {
      width: 300px;
      padding: 42px 0 0;
    }
  }

  .pets-heading{
    margin:0px;
    margin-left: 1px;
    width: 100%;

    @extend %local-h3;

    @media (max-width:$breakpoint-main-ss) {
      font-size: 25px;
    }

  }

  .pets-slider{
    display: flex;
    justify-content: space-between;

    height: 435px;
    margin-top:60px;

    @media (max-width:$breakpoint-main-ss) {
      flex-direction: column;
      align-items: center;

      height: 507px;
      margin-top:42px;
    }
  }

  .pets-slider__card{
    width: 270px;
    height: 435px;

    margin: -1px 37px;

    background-color: $color-light-s;
    border-radius: 9px;

    @media (max-width:$breakpoint-main-m) {
      margin: -1px 0px;
    }

  }

  .pets-slider__card-katrine{
    @media (max-width:$breakpoint-main-m) {
      margin-right: 14px;
    }

    @media (max-width:$breakpoint-main-s) {
      margin-right: 0;
    }

  }

  .pets-slider__card-jennifer{
    @media (max-width:$breakpoint-main-m) {
      margin-left: 14px;
    }

    @media (max-width:$breakpoint-main-s) {
      display: none;
    }

  }

  .pets-slider__card-woody{
    @media (max-width:$breakpoint-main-m) {
      display: none;
    }
  }

  .pets-slider__left-arrow, .pets-slider__right-arrow{
    display: flex;
    justify-content: center;
    align-items: center;

    align-self: center;
    margin-bottom: 2px;

    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid $color-primary;
  }

  .pets-slider__arrow-till-360{
    @media (max-width:$breakpoint-main-ss) {
      display: none;
    }
  }

  .pets-slider__left-arrow:hover, .pets-slider__right-arrow:hover{
    background: $color-primary-light;
    border: none;
  }

  .pets-slider__arrows-360{
    display:none;

    width: 184px;
    height: 52px;

    @media (max-width:$breakpoint-main-ss) {
      display: flex;
      justify-content: space-between;
    }

  }

  .pets-button-container{
    display: block;
    margin: 59px auto 0;

    width: 261px;
    height: 52px;

    @media (max-width:$breakpoint-main-ss) {
      margin-top:42px;
    }

  }

  .pets-button{

    width: 100%;
    height: 100%;

    background: $color-primary;
    border-radius: 100px;
    border:none;

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;

    letter-spacing: 0.06em;
    color:$color-dark-xl;
  }

  .pets-button:hover{
    background:$color-primary-light;
  }

  .pets-slider__card-photo{
    display: block;
    margin: 0;
    border-radius: 9px 9px 0px 0px;
  }

  .pets-slider__card-caption{
    margin: 30px 0 ;
    text-align: center;

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    letter-spacing: 0.06em;
    color: #545454;

  }

  .pets-slider__card-btn{
    margin:0 41.5px;
    width: 187px;
    height: 52px;

    border: 2px solid $color-primary;
    border-radius: 100px;


    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;

    color:  $color-dark-xl;

    background: #FAFAFA;
  }


  .pets-slider__card-btn:hover{
    background:$color-primary-light;
    border: none;
  }

  .pets-slider__card:hover{
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

    background: $color-light-xl;
  }

}


/* --------------------------------
Стили четвертого экрана
----------------------------------*/
.help{
  margin:0 auto;
  max-width: 1280px;
  min-height: 611px;

  border-top: 1px solid white;

  background-color: $color-light-xl;

  @media (max-width:$breakpoint-main-m) {
    min-height: 779px;
  }

  @media (max-width:$breakpoint-main-s) {
    min-height: 745px;
  }

  .help-container-middle{
    margin:0 auto;

    max-width: 1200px;
    height: 100%;

    @media (max-width:$breakpoint-main-m) {
      padding-left: 10px;
      padding-right: 10px;
    }

    @media (max-width:$breakpoint-main-ss) {
      padding-left: 5px;
      padding-right: 5px;
    }

  }

  .help-header-container{
    margin:80px auto 0;
    width: 310px;

    @media screen and (max-width:$breakpoint-main-ss) {
      margin-top:42px;
      width: 222px;
    }
  }

  .help-header{
    margin: 0;
    margin-left:2px;
    width: 100%;

    padding:0;
    @extend %local-h3;

    @media screen and (max-width:$breakpoint-main-ss) {
      font-size: 25px;
    }
  }

  .help-line-5{
    display: flex;

    margin-top:60px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;

    @media (max-width:$breakpoint-main-m) {
      display: none;
    }
  }

  .help-line-4{
    display: flex;

    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    width: 950px;

    @media (max-width:$breakpoint-main-m) {
      display: none;
    }

  }

  .help-line-item{
    width: 166px;
    text-align: center;

    font-family: Georgia;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 115%;

    letter-spacing: 0.06em;

    color: $color-dark-l;

    @media (max-width:$breakpoint-main-ss) {
      width: 130px;
      height: 87px;

      font-size: 15px;
    }
  }

  .help-line-item-img{
    @media (max-width:$breakpoint-main-ss) {
      width: 50px;
      height: 50px;
    }
  }

  .help-line-item-text{
    margin-top: 25px;
    margin-left: 2px;

    @media (max-width:$breakpoint-main-ss) {
      margin-top: 16px;
      margin-bottom: 0px;
    }
  }

  .help-line-5__item-1{
    margin-left:-4px;
  }

  .help-line-5__item-2{
    margin-left: 70px;
  }

  .help-line-5__item-3{
    margin-left: 60px;
  }

  .help-line-5__item-4{
    margin-left: 60px;
  }

  .help-line-5__item-5{
    margin-left: 80px;
  }

  .help-line-4__item-1{
    margin-left: 8px;
  }

  .help-line-4__item-2{
    margin-left: 50px;
  }

  .help-line-4__item-3{
    margin-left: 86px;
    width: 168px;
  }

  .help-line-4__item-4{
    margin-left: 107px;
  }

  .help-item-long{
    width: 168px;
    @media (max-width:$breakpoint-main-ss) {
      width: 130px;
    }
  }

  .help-grid{
    display: none;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    grid-row-gap: 35px;

    padding-top:60px;

    @media (max-width:$breakpoint-main-m) {
      display: grid;
    }

    @media (max-width:$breakpoint-main-s) {
      grid-template-columns: auto auto;
      grid-row-gap: 30px;
      grid-column-gap: 20px;

      padding-top:42px;
    }

  }

}


/* --------------------------------
Стили пятого экрана
----------------------------------*/
.donation{

  margin:0 auto;

  max-width: 1280px;
  min-height: 462px;

  background-color: #F6F6F6;

  .donation-container-middle{
    display: flex;

    padding-left:40px;
    padding-right:40px;

    height: 100%;

    @media (max-width:$breakpoint-main-m) {
      flex-direction: column-reverse;
      align-items: center;
    }

    @media (max-width:$breakpoint-main-s) {
      padding-left:5px;
      padding-right:5px;
    }

  }


  .donation-img{
    margin: 91px 0 0 143px;
    width: 505px;
    height: 261px;

    @media (max-width:$breakpoint-main-m) {
      margin-left: 0;
      margin-top: 60px;

      margin-bottom: 100px;
    }

    @media (max-width:$breakpoint-main-s) {
      margin-top: 42px;

      width: 260px;
      height: 135px;
    }

  }

  .donation-info{
    margin-top:80px;
    margin-left:30px;

    padding:1px 0 0 0;

    width: 380px;
    height: 282px;

    @media (max-width:$breakpoint-main-m) {
      margin-left: 0;
    }

    @media (max-width:$breakpoint-main-s) {
      width: 300px;
      margin-top:42px;
    }
  }

  .donation-info__heading{
    margin: 0;
    padding: 0;
    @extend %local-h3;

    text-align: left;

    @media (max-width:$breakpoint-main-s) {
      font-size: 25px;
      text-align: center;
    }

  }

  .donation-info__sub-heading{
    @extend %local-h5;

    @media (max-width:$breakpoint-main-s) {
      line-height: 160%;
      letter-spacing: 0;

      text-align: center;
      margin-top: 20px;

      margin-bottom:20px;
    }
  }

  .donation-info__credit-card{
    display: flex;
    align-items: center;

    width: 349px;
    height: 43px;

    padding-left: 15px;

    background: $color-primary;
    border-radius: 9px;

    @media (max-width:$breakpoint-main-s) {
      width: 281px;

      margin-left: auto;
      margin-right: auto;
    }

  }

  .donation-info__credit-card:hover{
    cursor: pointer;
    background: $color-primary-light;
  }

  .donation-info__credit-card-number{

    text-decoration: none;
    @extend %local-h4;

    padding-left: 15px;

    @media (max-width:$breakpoint-main-s) {
      font-size: 15px;
      line-height: 110%;
    }

  }

  .donation-info__legal{
    padding-top: 8px;

    font-family: Arial;
    font-style: italic;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;

    color: $color-dark-m;

    @media (max-width:$breakpoint-main-s) {
      width: 280px;
      margin-left: auto;
      margin-right: auto;
      text-align: justify;
    }

  }

}


.footer{
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding:0 40px;

  max-width: 1280px;
  min-height: 350px;

  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
@import 'footer';

