@charset "UTF-8";
.pets .pets-heading, .help .help-header, .donation .donation-info__heading {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.donation .donation-info__credit-card-number {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation .donation-info__sub-heading {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

/* --------------------------------
Стили первого экрана
----------------------------------*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.start-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 908px;
  background-image: url("/assets/images/start-screen-background.jpg");
}

.start-screen .start-screen-container-middle {
  width: 1200px;
  height: 100%;
}

.start-screen .start-screen-container-adjusted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100%;
  margin-left: 8px;
}

.start-screen .start-screen-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 60px;
  margin-top: 60px;
}

.start-screen .start-screen-header .start-screen-logo__tittle {
  margin: 0;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.start-screen .start-screen-header .start-screen-logo__sub-tittle {
  margin: 10px 0 0 4px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.start-screen .start-screen-header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 443px;
  height: 27px;
  padding: 0 0 3px 0;
}

.start-screen .start-screen-header .header-menu .header-menu__item {
  text-decoration: none;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  padding-bottom: 5px;
}

.start-screen .start-screen-header .header-menu .header-menu__item_selected {
  color: #FAFAFA;
  border-bottom: 3px solid  #F1CDB3;
}

.start-screen .start-screen-header .header-menu .header-menu__item:hover {
  color: #FAFAFA;
  cursor: pointer;
}

.start-screen .start-screen-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.start-screen .start-screen-content-container .start-screen-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 460px;
  height: 321px;
  margin-bottom: 80px;
}

.start-screen .start-screen-content-container .start-screen-content .start-screen-content__heading {
  margin: 0;
  width: 310px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}

.start-screen .start-screen-content-container .start-screen-content .start-screen-content__sub-heading {
  width: 460px;
  margin: 41px 0 0;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}

.start-screen .start-screen-content-container .start-screen-content .start-screen-content__btn {
  margin-top: 40px;
  width: 207px;
  height: 52px;
  border: none;
  background: #F1CDB3;
  border-radius: 26px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.start-screen .start-screen-content-container .start-screen-content .start-screen-content__btn:hover {
  cursor: pointer;
  background: #FDDCC4;
}

.start-screen .start-screen-content-container .start-screen-content__img {
  width: 698px;
  height: 728px;
  background-image: url("/assets/images/start-screen-puppy.png");
}

/* --------------------------------
Стили второго экрана
----------------------------------*/
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 588px;
  background-color: white;
}

.about .about-container-middle {
  width: 1200px;
  height: 100%;
}

.about .about-container-adjusted {
  width: 100%;
  height: 100%;
  margin-left: 7px;
}

.about .about-content__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 408px;
  margin-top: 80px;
  padding: 0 58px;
}

.about .about-content__img {
  width: 300px;
  height: 408px;
  background-image: url("/assets/images/about-pets.png");
}

.about .about-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 430px;
  height: 380px;
}

.about .about-content .about-content__heading {
  margin: 0;
  padding-left: 2px;
  padding-top: 1px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

.about .about-content .about-content__sub-heading {
  margin: 25px 0 0 0;
  padding-left: 2px;
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
}

/* --------------------------------
Стили третьего экрана
----------------------------------*/
.pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 877px;
  background: #F6F6F6;
}

.pets .pets-container-middle {
  width: 1200px;
  height: 100%;
}

.pets .pets-container-adjusted {
  width: 100%;
  height: 100%;
  margin-left: 7px;
}

.pets .pets-heading-container {
  margin: 81px auto 0;
  width: 400px;
}

.pets .pets-heading {
  margin-left: 2px;
  width: 100%;
}

.pets .pets-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 435px;
  margin-top: 60px;
}

.pets .pets-slider__card {
  width: 270px;
  height: 435px;
  margin: -1px 37px;
  background-color: #FAFAFA;
  border-radius: 9px;
}

.pets .pets-slider__left-arrow, .pets .pets-slider__right-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  margin-bottom: 2px;
  width: 52px;
  height: 52px;
  border-radius: 100px;
  border: 2px solid #F1CDB3;
}

.pets .pets-slider__left-arrow:hover, .pets .pets-slider__right-arrow:hover {
  background: #FDDCC4;
  border: none;
}

.pets .pets-button-container {
  display: block;
  margin: 59px auto 0;
  width: 261px;
  height: 52px;
}

.pets .pets-button {
  margin-left: 2px;
  width: 100%;
  height: 100%;
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #4C4C4C;
}

.pets .pets-button:hover {
  background: #FDDCC4;
}

.pets .pets-slider__card-photo {
  display: block;
  margin: 30px 35px 0;
}

.pets .pets-slider__card-caption {
  margin: 30px 0;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.pets .pets-slider__card-btn {
  margin: 0 41.5px;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #4C4C4C;
  background: #FAFAFA;
}

.pets .pets-slider__card-btn:hover {
  background: #FDDCC4;
  border: none;
}

.pets .pets-slider__card:hover {
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background: FFFFFF;
}

/* --------------------------------
Стили четвертого экрана
----------------------------------*/
.help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 611px;
  background-color: FFFFFF;
}

.help .help-container-middle {
  width: 1200px;
  height: 100%;
}

.help .help-container-adjusted {
  width: 100%;
  height: 100%;
  margin-left: 7px;
}

.help .help-header-container {
  margin: 80px auto 0;
  width: 310px;
}

.help .help-header {
  margin-left: 2px;
  width: 100%;
  padding: 0;
}

.help .help-line-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 1100px;
}

.help .help-line-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
}

.help .help-line-item {
  width: 166px;
  text-align: center;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.help .help-line-item-text {
  margin-top: 25px;
  margin-left: 2px;
}

.help .help-line-5__item-1 {
  margin-left: -4px;
}

.help .help-line-5__item-2 {
  margin-left: 70px;
}

.help .help-line-5__item-3 {
  margin-left: 60px;
}

.help .help-line-5__item-4 {
  margin-left: 60px;
}

.help .help-line-5__item-5 {
  margin-left: 80px;
}

.help .help-line-4__item-1 {
  margin-left: 8px;
}

.help .help-line-4__item-2 {
  margin-left: 50px;
}

.help .help-line-4__item-3 {
  margin-left: 86px;
  width: 168px;
}

.help .help-line-4__item-4 {
  margin-left: 107px;
}

/* --------------------------------
Стили пятого экрана
----------------------------------*/
.donation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 462px;
  background-color: #F6F6F6;
}

.donation .donation-container-middle {
  width: 1200px;
  height: 100%;
}

.donation .donation-container-adjusted {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 7px;
}

.donation .donation-img {
  margin: 92px 0 0 143px;
  width: 505px;
  height: 261px;
}

.donation .donation-info {
  margin-top: 81px;
  margin-left: 30px;
  padding: 1px 0 0 0;
  width: 380px;
  height: 282px;
}

.donation .donation-info__heading {
  margin: 0;
  padding: 0;
  text-align: left;
}

.donation .donation-info__credit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 349px;
  height: 43px;
  padding-left: 15px;
  background: #F1CDB3;
  border-radius: 9px;
}

.donation .donation-info__credit-card:hover {
  cursor: pointer;
  background: #FDDCC4;
}

.donation .donation-info__credit-card-number {
  text-decoration: none;
  padding-left: 15px;
}

/* --------------------------------
Стили футера экрана
----------------------------------*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 355px;
  background-image: url("assets/images/footer-background.jpg");
}

.footer-container-middle {
  width: 1200px;
  height: 100%;
}

.footer-container-adjusted {
  width: 100%;
  height: 100%;
  margin-left: 7px;
  border: 1px grey dashed;
}
/*# sourceMappingURL=style.css.map */