.category-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;

  font-size: 2rem;
}

.category-page__hide {
  display: none;
}

.category-page__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  margin: 20px;
  width: 250px;
  min-height: 320px;
  text-align: center;

  border-radius: 255px 15px 225px 2px/5px 225px 10px 255px;

  transition-property: border-radius transform;
  transition-duration: 0.5s;

  background: url('.././img/blouse.jpg') no-repeat center top;
}

.category-page__card-play-mode {
  background-size: cover;
}

.category-page__card-play-mode_processed {
  opacity: 0.5;
  border-radius: 20px;
  box-shadow: 0px 0px 1px 1px;
}

.category-page__card-rotated {
  transform: rotateY(180deg);
}

.category-page__card:hover {
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0px 0px 1px 1px;
}

.category-page__card-figure {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  margin: 0;

  background-color: lightgray;
  border-radius: 0 0 5px 5px;
  border-radius: 255px 0px 225px 30px/20px 225px 30px 255px;

  transition-property: transform;
  transition-delay: 0.5s;
  transition-duration: 0.5s;
}

.category-page__card-figure-rotated {
  transform: rotateY(180deg);
}

.category-page__card-rotate {
  position: absolute;
  right: 2px;

  align-self: flex-end;
  height: 90%;

  transition: transform 0.5s;
}

.category-page__card-rotate:hover {
  transform: scale(1.2);
}

.category-page__card-rotate_hide {
  display: none;
}
