.game-process-container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;

  overflow: hidden;

  width: 80%;
  margin: 0 auto;
  padding: 10px;

  font-size: 2rem;

  @media (max-width:700px) {
    justify-content: flex-start;
  }
}

.game-process-container__hide{
  display: none;
}

