@import './colors.scss';

.mobile-menu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px 16px 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999999;

  height: 50px;
  width: 60px;
}
.mobile-menu__btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  //width: 35px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  transition: .4s;

  z-index: 9999999;
}
.mobile-menu__icon {
  display: block;
  position: relative;

  background-color: $color-gray;

  width: 90%;
  height: 4px;
  transition: .4s;
}
.mobile-menu__icon::after, .mobile-menu__icon::before {
  content: "";
  display: block;
  position: absolute;

  background-color: $color-gray;

  width: 100%;

  height: 4px;
  transition: .4s;
}
.mobile-menu__icon::after {
  //top: 8px;
  top: 12px;
}
.mobile-menu__icon::before {
  //top: -8px;
  top: -12px;
}
.mobile-menu__container {
  position: fixed;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  //top: 50px;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 999;
  height: 0;
  opacity: 1;
  transition: .5s;
  overflow: hidden;

  background-color: $color-secondary;
  opacity: 0.8;
  border-radius: 0 0 120px 0;

  border-radius: 255px 15px 225px 0px/0px 225px 0px 255px;

  width: 215px;
}
.mobile-menu__list {
  transition: .5s;
  list-style: none;
  padding-left: 0;
  margin-top: -50px;
}
.mobile-menu__item {
  font-size: 26px;
  padding-bottom: 15px;
}
.mobile-menu__link {
  text-decoration: none;
  color: #fff;
}
.mobile-menu__checkbox {
  display: none;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
  opacity: 1;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__container {
  height: 100%;
  width: 215px;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
  background: transparent;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before, .mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  top: 0;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}