.statistic-container{
  padding: 20px 0;
}

.statistic-container__hide{
  display:none;
}

.statistic-table{
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid $color-gray-dark;
}

.statistic-table__header{
  border: 1px solid $color-gray-dark;
  background-color: $color-clouds;
}

.statistic-table__category-column{
  width: 200px;
  border: 1px solid $color-gray-dark;
}

.statistic-table__training-attempts-column,
.statistic-table__success-attempts-column,
.statistic-table__failure-attempts-column,
.statistic-table__percent-success-column {
  width: 80px;
  border: 1px dotted $color-gray;
}

.statistic-table__column_vertical{
  @media (max-width: 600px)  {
    writing-mode: vertical-rl;
    margin-block-start: 0.1em;
    //margin-block-end: 0.1em;
  }
}

.statistic-table__cell_center{
  text-align:center;
}

.statistic-table__cell{
  border: 1px dotted $color-gray;
}

.statistic-table__row-name-line-1{
  border-left: 1px solid $color-gray;
  border-right: 1px solid $color-gray;
  border-top: 1px solid $color-gray;
}

.statistic-table__row-name-line-2{
  border-left: 1px solid $color-gray;
  border-right: 1px solid $color-gray;
}

.statistic-table__row-name-line-3{
  border-left: 1px solid $color-gray;
  border-right: 1px solid $color-gray;
  border-bottom: 1px solid $color-gray;
}