@import 'colors.scss';
@import 'menu.scss';
@import 'header.scss';
@import 'game-process.scss';
@import 'switcher.scss';
@import 'main-page.scss';
@import 'category-page.scss';
@import 'footer.scss';
@import 'game-result.scss';
@import 'statistic-page.scss';

* {
  font-family: "Cabin Sketch", cursive;
}
