
@import 'colors.scss';

/* -----------------
  СТИЛИ ПЕРКЛЮЧАТЕЛЯ
-----------------  */

$switch-height: 30 / 16 * 1em;
$switch-width: 72 / 16 * 1em * 1.3;
$switch-transition-default: 0.25s ease-out 0.1s;

.all-page-header__button-switch {
  font-size: 1.5em;
  height: $switch-height;
  margin-top: 10px;
  //margin-right: 20px;
  margin-left: 5px;
  position: relative;
  width: $switch-width;

  .lbl-off,
  .lbl-on {
    cursor: pointer;
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: 1em;
    position: absolute;
    //top: 8 / 16 * 1em;
    top: 8 / 16 * 1em * 0.8;
    transition: opacity $switch-transition-default;
    text-transform: uppercase;
  }

  .lbl-off {
    //right: 7 / 16 * 1em;
    right: 7 / 16 * 1em * 2;
  }

  .lbl-on {
    color: $color-white;
    opacity: 0;
    left: 7 / 16 * 1em;
  }

  .switch {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    // --
    height: 0;
    font-size: 1em;
    left: 0;
    line-height: 0;
    outline: none;
    position: absolute;
    top: 0;
    width: 0;

    &:before,
    &:after {
      content: "";
      font-size: 1em;
      position: absolute;
    }

    &:before {
      //border-radius: 20 / 16 * 1em;
      border-radius: 255px 25px 225px 25px/0px 225px 25px 255px;

      background: $color-silver;
      height: $switch-height;
      left: 4 / 16 * -1em;
      top: 3 / 16 * -1em;
      transition: background-color $switch-transition-default border-radius;
      transition-duration: 0.5s;
      width: $switch-width;
    }

    &:hover:before{
      border-radius: 20 / 16 * 1em;
    }

    &:after {
      box-shadow: 0 0.0625em 0.375em 0 #666;
      border-radius: 50%;
      background: $color-white;
      height: 24 / 16 * 1em;
      transform: translate(0, 0);
      transition: transform $switch-transition-default;
      width: 24 / 16 * 1em;
    }

    &:checked {
      &:after {
        //transform: translate(40 / 16 * 1em, 0);
        transform: translate(40 / 16 * 1em * 1.55, 0);
      }

      & ~ .lbl-off {
        opacity: 0;
      }

      & ~ .lbl-on {
        opacity: 1;
      }
    }

    &#switch-blue {
      &:checked:before {
        background: $color-peter-river;
      }
    }
  }
}
