/* -----------------------------
  цвета из темы бутстрапа https://bootswatch.com/sketchy/
-----------------------------  */
$color-blue: #007bff;
$color-indigo: #6610f2;
$color-purple: #6f42c1;
$color-pink: #e83e8c;
$color-red: #dc3545;
$color-orange: #fd7e14;
$color-yellow: #ffc107;
$color-green: #28a745;
$color-teal: #20c997;
$color-cyan: #17a2b8;
$color-white: #fff;
$color-gray: #868e96;
$color-gray-dark: #333;
$color-primary: #333;
$color-secondary: #555;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-light: #fff;
$color-dark: #555;

/*
  цвета таблиц
*/
$table-header-color: #039;
$table-header-border: #6678b1;
$table-row-border: #ccc;
$table-row-color: #669;

/* -----------------------------
  дополнительные
-----------------------------  */
$color-white-2: #f1efef;
$color-clouds: #ecf0f1;
$color-silver: #bdc3c7;
$color-peter-river: #3498db;
