.switcher {
  box-sizing: border-box;

  width: 20rem;
  height: 1.75rem;
  line-height: 1.75rem;
  border-radius: 8rem;
  background-color: $color-secondary;
  cursor: pointer;
  //transition: background-color 0.2s ease;
  position: relative;
  text-align: right;

  padding-left: 10px;
  padding-right: 10px;

  margin: 10px;
  color: $color-light;

  &::after {
      content: '';
      top: 50%;
      left: 0.2rem;
      right: unset;
      width: 1.4rem;
      height: 1.4rem;
      background-color: white;
      border-radius: 100%;
      position: absolute;
      transform: translateY(-50%);
      transition: left 0.3s ease;
  }
}

.switcher_selected {
  text-align: left;
}

.header-controls__switcher-is-absolute {
  width: 15rem;
}

.header-controls__switcher-is-absolute_selected {
  &::after {
      left: 13.4rem;
  }
}

.header-controls__switcher-is-all-period{
  width: 12rem;
}

.header-controls__switcher-is-all-period_selected {
  &::after {
      left: 10.4rem;
  }
}