.table-container {
  min-height: 300px;
  padding: 5px;
}

.total-data__table,
.country-list__table {
  margin: 0 auto;
  width: 100%;

  border-collapse: collapse;
  text-align: center;
}

.country-list__container {
  overflow-y: scroll;
  height: 320px;
}

.total-data__header-cell {
  font-weight: normal;
  color: $table-header-color;
  border-bottom: 2px solid $table-header-border;
  padding: 10px 8px;
}

.total-data__row-indicator,
.country-list__row-cell-country {
  text-align: left;
}

.total-data__row-indicator,
.total-data__cell-diseased,
.total-data__cell-dead,
.total-data__cell-recovered,
.country-list__row__cell {
  padding: 9px 8px;
}

.total-data__row-indicator,
.total-data__cell-diseased,
.total-data__cell-dead,
.total-data__cell-recovered {
  color: $table-row-color;
}

.country-container {
  margin-top: 20px;
}

.country-search__input {
  width: 60%;
  min-width: 250px;
  max-width: 450px;
  height: 1.8rem;

  border-radius: 5px;
  border: 1px $color-secondary dotted;
}

.country-list__indicator-container,
.country-list__input-container {
  margin-top: 5px;
  margin-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.country-list__indicator {
  flex-basis: 60%;

  min-width: 250px;
  max-width: 450px;

  border-radius: 5px;
  border: 1px $color-secondary dotted;
  color: black;

  &:focus {
    border: 2px $color-secondary solid;
  }
}

.country-list-row:hover {
  background-color: $color-clouds;
}
